.app {
    background: #f1f1f1f1;
    display: grid; /*colocando o grid*/
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: "cabecalho"
                         "conteudo" 
                         "rodape"; /*determinando a area do meu grid*/
    grid-template-columns: auto; /*aqui eu especifico o tamanho das colunas */
    grid-template-rows: 50px auto auto; /*tamanho das linhas*/

}

.cabecalho {
    align-items: center;
    display: flex;
    grid-area: cabecalho; /*definindo onde minha cor vai ficar*/
    padding: 0 2rem;
}

.conteudo {
    grid-area: conteudo;
    padding: 0 2rem;
}

.rodape {
    background: #fdfdfd;
    color: #333333;
    font-size: .8rem;
    grid-area: rodape;
    padding: 1rem;
    text-align: center;
}